body, h1, nav , a { 
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body{
    background-color: lightskyblue;
    font-family: 'Coming Soon', cursive; /* Default font */
    font-size: larger;
    line-height: 1.4;
    letter-spacing: 0em;    
}

header{
 text-align: center;
 margin-bottom: 2rem;

}

header h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}
#logo a {
    text-decoration: none;
    color: #333;
    
}
nav { 
    text-align: center;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: #687280;
    font-size: 1rem;
    margin: 0 10px;
}

nav a:hover {
    color: #333;
}

.fixed-width-container {
    width: 960px;
    margin: 0 auto;
}
.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}  

.about-text {
    flex: 1;
}

.about-image{
    flex:1;
    text-align: center;
}
.about-image img {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}    


/*.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding : 0 1rem;
}

.grid img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.container {
    flex-direction: column;
    justify-content: column;
    margin-left: 600px
}*/