body, h1, nav , a { 
    margin: 10px;
    padding: 10px;
}

body{
    background-color: #f0f0f0;
    font-family: "Indie Flower", cursive; /* Default font */
    font-size: larger;
    line-height: 1.10em;
    letter-spacing: 0em;
}

header{
 text-align: center;
 margin-bottom: 2rem;

}

header h1{
    font-size: 2.5rem;
    font-weight: bold;
}
#logo a {
    text-decoration: none;
    color: #333;
    
}
nav { 
    text-align: center;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: #687280;
    font-size: 1rem;
    margin: 0 10px;
}

nav a:hover {
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 2rem;
    margin-left: 30rem;
    margin-right: 30rem;
}

.grid img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#popup-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    text-align: center;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

#popup-image {
    max-width: 100%;
    max-height: 400px;
    margin: 0 20px;
}
.modal-button {
    display: flex
    justify-content:space-between;
    align-items: center;
    margin-bottom: 15px;
}

.nav-buttons {
   background-color: transparent;
   border: none;
   font-size: 2rem;
   cursor: pointer
   color: #333;
}

.nav-buttons:hover {
    color: #687280;
}