body, h1, nav , a { 
    margin: 10px;
    padding: 10px;
}

body{
    background-color: lightskyblue;
    font-family: "Coming Soon", cursive; /* Default font */
    font-size: larger;
    line-height: 1.10em;
    letter-spacing: 0em;
}

header{
 text-align: center;
 margin-bottom: 2rem;

}

header h1{
    font-size: 2.5rem;
}
#logo a {
    text-decoration: none;
    color: #333;
    
}
nav { 
    text-align: center;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: #687280;
    font-size: 1rem;
    margin: 0 10px;
}

nav a:hover {
    color: #333;
}

.parent{
    display:block;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    gap: 20px;
}

.container {
    background-color: ghostwhite;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0,1);
    width: 48%;
    max-width: 600px;
    flex: 1;
  }
.container p {
    font-size: 1.1rem;
    line-height: 1.6em;
    margin-bottom: 1rem;
}

input, textarea{
    border-radius: 4px;
}

button.btn:hover{
    background-color: gray !important;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;
    flex: 1;
}


footer .bi{
    transition: color 0.3s ease;
}

footer .bi:hover{
    color: #0d6efd;
}
@media (max-width: 768px) {
    
    .parent{
       flex-direction: column;
        align-items: center;
    }

    .container,
    .grid{
        width: 100%;
        max-width: 90%;
    }
}

.no-decoration{
    text-decoration: none;
    color: #333;
}


