body, h1, nav , a { 
    margin: 10px;
    padding: 10px;
}

body{
    background-color: #f0f0f0;
    font-family: "Indie Flower", cursive; /* Default font */
    font-size: larger;
    line-height: 1.10em;
    letter-spacing: 0em ;
}

header{
 text-align: center;
 margin-bottom: 2rem;

}

header h1{
    font-size: 2.5rem;
    font-weight: bold;
}
#logo a {
    text-decoration: none;
    color: #333;
    
}
nav { 
    text-align: center;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: #687280;
    font-size: 1rem;
    margin: 0 10px;
}

nav a:hover {
    color: #333;
}

.parent{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 48%;
    max-width: 600px;
  }
.container p {
    font-size: 1.1rem;
    line-height: 1.6em;
}

.container .p1 {
    font-size: 1.1rem;
    line-height: 1.5em;
    letter-spacing: 0em;
}


#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    width: 50%;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;
}

 .image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    
    .parent{
       flex-direction: column;
        align-items: center;
    }
}



